<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bug Reports</title>
  </head>
  <body>
    <button id="createBugButton">Create a bug</button>
    <div id="createBugForm" style="display: none">
      <h2>Create Bug Form</h2>
      <span>Problem</span>
      <input type="text" name="problem" id="problem" /><br />
      <span>Error text</span>
      <input type="text" name="errorText" id="errorText" /><br /><br />
      <div id="bugFormFeatures"></div>
    </div>
    <div id="bugList">
      <h2>Bug List</h2>
    </div>
    <div id="createFeatureForm">
      <h2>Create Feature Form</h2>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
